[Unit]
After=network.service

[Service]
Type=forking
ExecStart=/bin/bash -c "source /home/kevin/chaingreen-blockchain/activate && sleep 10 && chaingreen start harvester"

[Install]
WantedBy=default.target
