[Unit]
After=network.service

[Service]
Type=forking
ExecStart=/bin/bash -c "source /home/kevin/hddcoin-blockchain/activate && sleep 10 && hddcoin start harvester"

[Install]
WantedBy=default.target
