[Unit]
After=network.service

[Service]
Type=forking
ExecStart=/bin/bash -c "source /home/kevin/flora-blockchain/activate && sleep 10 && flora start harvester"

[Install]
WantedBy=default.target
