[Unit]
After=network.service

[Service]
Type=forking
ExecStart=/bin/bash -c "source /home/kevin/avocado-blockchain/activate && sleep 10 && avocado start harvester"

[Install]
WantedBy=default.target
