[Unit]
After=network.service

[Service]
Type=forking
ExecStart=/bin/bash -c "source /home/kevin/greendoge-blockchain/activate && sleep 10 && greendoge start harvester"

[Install]
WantedBy=default.target
